## 1、使用oanda获取EUR_USD 的H1数据，开始时间为2018-11-01

,close,complete,high,low,open,time,volume,datetime
126,1.143510,True,1.14370,1.14120,1.143465,2018-11-08T07:00:00.000000Z,13093,2018-11-08 07:00:00
127,1.143020,True,1.14451,1.14263,1.143495,2018-11-08T08:00:00.000000Z,13921,2018-11-08 08:00:00
128,1.142285,True,1.14322,1.14144,1.143005,2018-11-08T09:00:00.000000Z,12956,2018-11-08 09:00:00
129,1.141995,True,1.14282,1.14119,1.142315,2018-11-08T10:00:00.000000Z,15246,2018-11-08 10:00:00
130,1.141525,False,1.14228,1.14152,1.142015,2018-11-08T11:00:00.000000Z,1699,2018-11-08 11:00:00

## 2、获取A股和期货数据


2.1获取股票数据：

平安银行、贵州茅台

要求：1M，20181020，20181105


2.2获取期货数据：

fu.SHF，说明这是什么期货

要求：5M，20181020，20181105

In [19]:
#平安银行

Begin: DataApi login 18566262672@tcp://data.quantos.org:8910
    Already login as 18566262672, skip init_from_config

               datetime   open  close   high    low    volume
230 2018-11-05 14:51:00  10.92  10.92  10.93  10.91  294600.0
231 2018-11-05 14:52:00  10.93  10.92  10.93  10.92  189200.0
232 2018-11-05 14:53:00  10.92  10.92  10.93  10.92  400714.0
233 2018-11-05 14:54:00  10.93  10.93  10.93  10.92  490647.0
234 2018-11-05 14:55:00  10.93  10.92  10.93  10.92  348261.0
235 2018-11-05 14:56:00  10.92  10.93  10.93  10.92  491940.0
236 2018-11-05 14:57:00  10.93  10.93  10.93  10.92  651938.0
237 2018-11-05 14:58:00  10.92  10.92  10.92  10.92   34500.0
238 2018-11-05 14:59:00  10.92  10.92  10.92  10.92       0.0
239 2018-11-05 15:00:00  10.92  10.92  10.92  10.92       0.0

In [6]:
#贵州茅台

Begin: DataApi login 18566262672@tcp://data.quantos.org:8910
    Already login as 18566262672, skip init_from_config

               datetime    open   close    high     low   volume
230 2018-11-05 14:51:00  575.80  575.95  575.95  575.80  14914.0
231 2018-11-05 14:52:00  575.95  576.01  576.01  575.93  28159.0
232 2018-11-05 14:53:00  576.01  576.15  576.15  576.01  11416.0
233 2018-11-05 14:54:00  576.20  576.48  576.50  576.17  19302.0
234 2018-11-05 14:55:00  576.45  575.99  576.50  575.99  35296.0
235 2018-11-05 14:56:00  575.90  575.61  575.90  575.55  28615.0
236 2018-11-05 14:57:00  575.61  575.85  575.95  575.60  15453.0
237 2018-11-05 14:58:00  575.85  575.85  575.85  575.85      0.0
238 2018-11-05 14:59:00  575.85  575.85  575.85  575.85      0.0
239 2018-11-05 15:00:00  575.85  575.85  575.85  575.85      0.0

In [10]:
#fu.SHF

Begin: DataApi login 18566262672@tcp://data.quantos.org:8910
    Already login as 18566262672, skip init_from_config

              datetime    open   close    high     low   volume
59 2018-11-05 14:15:00  3416.0  3415.0  3419.0  3413.0   5294.0
60 2018-11-05 14:20:00  3414.0  3416.0  3420.0  3412.0   7462.0
61 2018-11-05 14:25:00  3416.0  3419.0  3427.0  3416.0  11982.0
62 2018-11-05 14:30:00  3419.0  3422.0  3424.0  3419.0   5758.0
63 2018-11-05 14:35:00  3422.0  3422.0  3425.0  3420.0   5928.0
64 2018-11-05 14:40:00  3422.0  3432.0  3435.0  3421.0  18418.0
65 2018-11-05 14:45:00  3432.0  3432.0  3436.0  3428.0  10082.0
66 2018-11-05 14:50:00  3433.0  3431.0  3438.0  3431.0  11396.0
67 2018-11-05 14:55:00  3431.0  3431.0  3432.0  3427.0   7730.0
68 2018-11-05 15:00:00  3430.0  3427.0  3432.0  3427.0   9800.0

## 3、成功安装mongodb,并将数据导入到mongodb中，附上mongodb有导入数据的截图

数据为：

getCandles('000001.SZ','1M','20181020','20181105')

Begin: DataApi login 18566262672@tcp://data.quantos.org:8910
    Already login as 18566262672, skip init_from_config

## 4、使用OKEX V1来获取数据

要求：
'btc_usd','1min','quarter',size = 10

,datetime,open,high,low,close,volume,btc_usd_volume
0,2019-01-03 09:50:00,3720.47,3721.20,3720.47,3720.91,750,20.155097
1,2019-01-03 09:51:00,3721.01,3721.76,3720.28,3721.76,1564,42.034150
2,2019-01-03 09:52:00,3722.51,3723.68,3721.10,3722.46,1115,29.952408
3,2019-01-03 09:53:00,3722.54,3723.21,3721.11,3722.41,2401,64.498840
4,2019-01-03 09:54:00,3722.42,3724.10,3722.42,3723.00,1808,48.562692
5,2019-01-03 09:55:00,3723.00,3723.58,3723.00,3723.57,1158,31.102948
6,2019-01-03 09:56:00,3723.30,3723.30,3717.87,3717.92,3330,89.521550
7,2019-01-03 09:57:00,3717.92,3718.37,3715.02,3715.02,5780,155.500705
8,2019-01-03 09:58:00,3715.03,3718.20,3715.03,3717.76,794,21.366276
9,2019-01-03 09:59:00,3717.78,3717.81,3716.57,3716.57,220,5.917907